<div class="row">
    <foreach name="int.0" item="val">
        <div class="col-sm-6 col-md-4">
            <div class="panel panel-default int_info">
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <th>接口名</th>
                            <td>{$val}</td>
                        </tr>
                        <tr>
                            <th>状态</th>
                            <td>{$int[1][$key]}</td>
                        </tr>

                        <tr>
                            <th>5分钟内接收包速率</th>
                            <td>{$speed_input[0][$key]}</td>
                        </tr>
                        <tr>
                            <th>5分钟内接收速率</th>
                            <td>{$speed_input[1][$key]|byte_format}</td>
                        </tr>
                        <tr>
                            <th>5分钟内发送包速率</th>
                            <td>{$speed_output[0][$key]}</td>
                        </tr>
                        <tr>
                            <th>5分钟内发送速率
                            <td>{$speed_output[1][$key]|byte_format}</td>

                        </tr>
                        <tr>
                            <th>输入包数</th>
                            <td>{$input_packets[$key]}</td>
                        </tr>

                        <tr>
                            <th>输入包错误数</th>
                            <td>{$input_error[$key]}</td>
                        </tr>
                        <tr>
                            <th>输入错包率</th>
                            <td name="in_error_pac">
                                {$input_packets[$key]>0?round($input_error[$key]/($input_error[$key]+$input_packets[$key])*100,2):0}
                            </td>
                        </tr>
                        <tr>
                            <th>输出包数</th>
                            <td>{$output_packets[$key]}</td>
                        </tr>

                        <tr>
                            <th>输出包错误数</th>
                            <td>{$output_error[$key]}</td>
                        </tr>

                        <tr>
                            <th>输出错包率</th>
                            <td name="out_error_pac">
                                {$output_packets[$key]>0?round($output_error[$key]/($output_error[$key]+$output_packets[$key])*100,2):0}
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </foreach>
</div>
<script type="text/javascript">
    $(function () {
        $(".int_info").each(function (i) {
            var out = $(this).find("td[name='out_error_pac']").text();
            var input = $(this).find("td[name='in_error_pac']").text();
            if (out > 0.3 || input > 0.3)$(this).attr('style', "background:rgb(255, 194, 194)");
        })
    })
</script>