<div class="row">
    <div class="col-xs-10">
        <select id="selCmd" class="form-control" name="{$ip}">
            <foreach name="data" item="val">
                <option value="{$val.id}" data-int="{$val['arg_type']==0?0:1}"
                <eq name="val.id" value="$cmd">selected="selected"</eq>
                >{$val.name}</option>
            </foreach>
        </select>
    </div>
    <button class="btn btn-default col-xs-2" type="button" id="selCmd_btn">确定</button>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="selIntModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    选择接口
                </h4>
            </div>
            <div class="modal-body">
                <div id="selInt">
                    <label for="intList">需要操作的端口</label>
                    <label class="pull-right">
                    </label>
                    <select class="form-control" id="intList" multiple size="20">
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="intList_btn">
                    确定
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->