<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <title><block name="title">交换机管理系统</block></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.css">
    <block name="extern_css"></block>
</head>
<body>
<block name="nav"></block>
<div class="container">
    <block name="container"></block>
</div>
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap.js"></script>
<block name="extern_js"></block>
</body>
</html>