<nav class="navbar  navbar-inverse navbar-fixed-top navbar-switch" role="navigation"><!--alwaays top-->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <!--导航栏图标-->
        </button>
        <a class="navbar-brand navbar-title" href="__APP__/index.html">交换机管理系统</a>
    </div>
    <div class="collapse navbar-collapse" id="top-navbar"><!--colsace折叠组jian-->
        <ul class="nav navbar-nav navbar-left ">
            <li
            <eq name="CONTROLLER_NAME" value="Index">class="active"</eq>
            ><a href="__APP__/index.html"><span class="glyphicon glyphicon-home">&nbsp;首页</span></a></li>
            <li
            <eq name="CONTROLLER_NAME" value="List">class="active"</eq>
            ><a href="__APP__/List"><span class="glyphicon glyphicon-align-left">&nbsp;交换机状态</span></a></li>
            <li
            <eq name="CONTROLLER_NAME" value="Manage">class="active"</eq>
            ><a href="__APP__/Manage"><span class="glyphicon glyphicon-cog">&nbsp;交换机管理</span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" id="">
            <li class="dropdown ">
                <a href="#" class="dropdown-toggle " data-toggle="dropdown"><span
                        class="glyphicon glyphicon-user"></span>{$GLOBALS.real_name}<b class="caret"></b></a>
                <!--dropdown father-->
                <ul class="dropdown-menu"><!--main dropdown menu-->
                    <li><a href="#">日志管理</a></li>
                    <!--修改密码-->
                    <li><a href="#" id="changePwd" data-toggle="modal" data-target="#cpwdmodal">修改密码</a></li>
                    <li><a href="__APP__/Login/logout">注销</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
