<block name="container">
    <div class="content" id="cmdDetail">
        <ul class="breadcrumb">
            <li>交换机列表</li>
            <li>{$Think.get.ip|long2ip}</li>
        </ul>
        <hr>
        <h4>选择要执行的操作</h4>
        {:W('Command/showCommand')}
        <hr/>
        <div class="container-fluid" id="result">
            {:W('Command/render',array($_GET['cmd'],$data))}
        </div>
    </div>
    <script type="text/javascript" src="__PUBLIC__/js/detail.js"></script>
</block>
<!--命令界面 包含所有部件-->