<extend name="Public:base"/>
<block name="title">首页</block>
<block name="extern_css">
    <link rel="stylesheet" href="__PUBLIC__/css/nav.css"/>
</block>
<block name="nav"><include file="Public:nav"/></block>
<block name="container">
    <div class="content">
        <ul class="breadcrumb">
            <li><a href="__APP__/{$Think.CONTROLLER_NAME}">交换机列表</a></li>
            <li><a href="#">详细信息</a></li>
        </ul>
        <hr>
        {:W('Command/showCommand')}
        <div class="container-fluid">
            {:W('Command/render',array($_GET['cmd'],$data))}
        </div>
    </div>
</block>