* {
    font-family: "微软雅黑", "宋体";
}
.content {
    padding: 60px 3%;
}

.addboder {
    /*border: 1px solid red;*/
}

/*.navbar-title{
    padding-left: 2%;
}
#top-navbar{
    padding:0 4%;

}*/

.navbar-switch {
    padding: 0 4%;
}

#contrList label {
    margin-bottom: 1%;
    /*margin-right: 1px;*/
}