<extend name="Public:base"/>
<block name="container">
    <div class="content">
        <form method="post">
            <notempty name="Think.GET.id">
                <input type="hidden" name="id" value="{$Think.GET.id}">
            </notempty>
            <div class="form-group">
                <label for="username" class="control-label">用户名</label>
                <input type="text" name="username" id="username" value="{$data.username}" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="real_name" class="control-label">真实姓名</label>
                <input type="text" name="real_name" id="real_name" value="{$data.real_name}" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password" class="control-label">登录密码</label>
                <input type="password" name="password" id="password" class="form-control">
            </div>
            <div class="form-group">
                <label class="control-label">允许登录</label>
                <label><input type="radio" name="can_login" value="1" {$data['can_login']==1?'checked':''}>&nbsp;是</label>
                <label><input type="radio" name="can_login" value="0" {$data['can_login']==0?'checked':''}>&nbsp;否</label>
            </div>
            <div class="form-group">
                <label for="role_id" class="control-label">用户组</label>
                <select name="role_id" id="role_id" class="form-control">
                    <volist name="role" id="val">
                        <option value="{$val.id}" {$val['id']==$data['role_id']?'selected':''}>{$val.name}</option>
                    </volist>
                </select>
            </div>
            <button class="btn btn-primary">保存</button>&nbsp;<a href="__URL__" class="btn btn-default">取消</a>
        </form>
    </div>
</block>