<extend name="Public:base"/>
<block name="title">首页</block>
<block name="extern_css">
    <link rel="stylesheet" href="__PUBLIC__/css/nav.css"/>
</block>
<block name="nav"><include file="Public:nav"/></block>
<block name="container">
    <div class="content">
        <ul class="breadcrumb">
            <li><a href="#">交换机列表</a> <span class="divider">/</span></li>
        </ul>
        <!--面包屑-->
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="list-group" id="List">
                    <!--{$positionId=1}-->
                    <foreach name="data" item="position">
                        <a class="list-group-item" data-toggle="collapse" href="#position{++$positionId}">{$key}</a>

                        <div class="collapse" id="position{$positionId}">
                            <foreach name="position" item="val">
                                <a class="list-group-item" href="#" name="ipList" data-ip="{$val.ip}">
                                    {$val.name}
                                    <if condition="$val.status">
                                        <span class="badge alert-success">up</span>
                                        <else/>
                                        <span class="badge alert-danger">down</span>
                                    </if>
                                </a>
                            </foreach>

                        </div>
                    </foreach>
                    <!--   <a class="list-group-item" href="#">
                           <div class="list-group-item-heading">192.168.5.1<span
                                   class="badge alert-danger pull-right">down</span>
                           </div>
                           &lt;!&ndash;<div class="list-group-item-text">down at least 20min</div>
                       </a>&ndash;&gt;-->
                </div>
            </div>
            <!--在手机不显示-->
            <!--  <div class="hidden-xs col-sm-6" id="swState">
                  <form class="list-group ">
                      <div class="list-group-item " name="type">型号</div>
                      <div class="list-group-item " name="time">运行时间</div>
                      <div class="list-group-item " name="cpu">cpu</div>
                      <div class="list-group-item ">温度</div>
                      <div class="list-group-item ">在线用户数</div>
                      <a class="list-group-item" href="__APP__/{$Think.CONTROLLER_NAME}/detail">
                          <div class="list-group-item-heading text-center">更多</div>
                      </a>
                  </form>
              </div>-->
            <div class="col-xs-12 col-sm-6">
                <canvas id="pingChart"></canvas>
            </div>
        </div>
    </div>
</block>
<block name="extern_js">
    <script type="text/javascript" src="__PUBLIC__/js/Chart.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/switchlist.js"></script>
</block>