<extend name="Public:base"/>
<block name="title">首页</block>
<block name="extern_css">
    <link rel="stylesheet" href="__PUBLIC__/css/nav.css"/>
</block>
<block name="nav"><include file="Public:nav"/></block>
<block name="container">
    <div class="content">
        <ul class="breadcrumb">
            <li><a href="#">交换机列表</a> <span class="divider">/</span></li>
        </ul>
        <!--面包屑-->
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="list-group" id="List">
                    <!--{$positionId=1}-->
                    <foreach name="data" item="position">
                        <a class="list-group-item" data-toggle="collapse" href="#position{++$positionId}"><span
                                class="glyphicon glyphicon-align-justify"> {$key}</span><span
                                id="positionStatus{$positionId}"></span> </a>

                        <div class="collapse" id="position{$positionId}">
                            <foreach name="position" item="val">
                                <a class="list-group-item" href="#" name="ipList" data-ip="{$val.ip}">
                                    {$val.name}
                                    <if condition="$val.status egt 0">
                                        <span class="badge alert-success">up</span>

                                        <else/>
                                        <span class="badge alert-danger">down</span>
                                        <script type="text/javascript">
                                            document.getElementById('positionStatus{$positionId}').innerHTML = "有宕机";
                                            document.getElementById('positionStatus{$positionId}').className = "badge alert-danger";
                                        </script>
                                    </if>
                                </a>
                            </foreach>

                        </div>
                    </foreach>
                </div>
            </div>
            <!--暂时测试效果-->
            <div class="col-xs-12 col-sm-6" id="showChart">
                <h2>图表显示</h2>
                <hr>
                <div id="pingChart"></div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        图表显示
                    </h4>
                </div>
                <div class="modal-body">

                    <div id="pingChartModal"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-default" id="testbtn"
                            >测试
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
</block>
<block name="extern_js">
    <script type="text/javascript" src="__PUBLIC__/js/highcharts.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/switchlist.js"></script>
</block>